<h2>Account Details</h2>
<div class="account-details" data-module="AccountDetails" data-id="<%= data.account._id %>">
	<form>
		<div class="form-item">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" value="<%= data.account.name %>" enable-update="true" />
		</div>
		<div class="form-item">
			<label for="locations-list">Locations:</label>
			<span id="locations-list" class="link-list" data-ids="<%= data.account.locations %>"></span>
			<a id="add-location" href="#">+</a><span id="add-form-location" class="link-form"><select id="location-select"><option value="false" selected>Select</option></select><button id="location-select-submit" disabled>Add</button></span>
		</div>
		<div class="form-item">
			<label for="primary-user">Primary User:</label>
			<span id="primary-user" class="link-list" data-ids="<%= data.account.primary_user %>"></span>
			<a id="add-primary" href="#">Change</a><span id="add-form-primary" class="link-form"><select id="primary-select"><option value="false" selected>Select</option></select><button id="primary-select-submit" disabled>Update</button></span>
		</div>
		<div class="form-item">
			<label for="users-list">Users:</label>
			<span id="users-list" class="link-list" data-ids="<%= data.account.users %>"></span>
			<a id="add-user" href="#">+</a><span id="add-form-user" class="link-form"><select id="user-select"><option value="false" selected>Select</option></select><button id="user-select-submit" disabled>Add</button></span>
		</div>
		<button class="update-account" disabled>update</button><input type="checkbox" id="enable-delete"/><button class="delete-account" disabled>delete</button>
	</form>

</div>
