<h2>Device Details</h2>
<div class="device-details" data-module="DeviceDetails" data-id="<%= data.device._id %>">
	<form>
		<div class="form-item">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" value="<%= data.device.name %>" enable-update="true" />
		</div>
		<div class="form-item">
			<label for="battery">Battery:</label>
			<input type="text" id="battery" name="battery" value="<%= data.device.battery %>" />
		</div>
		<div class="form-item">
			<label for="version">Version:</label>
			<input type="text" id="version" name="version" value="<%= data.device.version %>" enable-update="true" />
		</div>
		<button class="update-device" disabled>update</button><input type="checkbox" id="enable-delete"/><button class="delete-device" disabled>delete</button>
	</form>
	<%- include ../../_partials/charts/temperature.ejs %>
	<%- include ../../_partials/charts/humidity.ejs %>
	<%- include ../../_partials/charts/ir.ejs %>

</div>
