<h2>User Details</h2>
<div class="user-details" data-module="UserDetails" data-id="<%= data.user._id %>">
	<form>
		<div>
			<label for="username">Username:</label>
			<input type="text" id="username" name="user_name" value="<%= data.user.user_name %>" />
		</div>
		<div>
			<label for="first">First:</label>
			<input type="text" id="first" name="first_name" value="<%= data.user.first_name %>" />
		</div>
		<div>
			<label for="last">Last:</label>
			<input type="text" id="last" name="last_name" value="<%= data.user.last_name %>" />
		</div>
		<div>
			<label for="email">Email:</label>
			<input type="text" id="email" name="email" value="<%= data.user.email %>" />
		</div>
		<div>
			<label for="phone">Phone:</label>
			<input type="text" id="phone" name="phone" value="<%= data.user.phone %>" />
		</div>
		<div>
			<label for="linked-account">Account:</label>
			<span id="linked-account" class="link-list" data-ids="<%= data.user.account_id %>"></span>
			<a id="add-account" href="#">Change</a><span id="add-form-account" class="link-form"><select id="account-select"><option value="false" selected>Select</option></select><button id="account-select-submit" disabled>Update</button></span>
		</div>
	</form>
	<button class="update-user" disabled>update</button><input type="checkbox" id="enable-delete"/><button class="delete-user" disabled>delete</button>
</div>
